/* Vazirmatn Thin (100) */
@font-face {
  font-family: 'Vazirmatn';
  src: url('./Vazirmatn-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

/* Vazirmatn ExtraLight (200) */
@font-face {
  font-family: 'Vazirmatn';
  src: url('./Vazirmatn-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

/* Vazirmatn Light (300) */
@font-face {
  font-family: 'Vazirmatn';
  src: url('./Vazirmatn-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* Vazirmatn Regular (400) */
@font-face {
  font-family: 'Vazirmatn';
  src: url('./Vazirmatn-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Vazirmatn Medium (500) */
@font-face {
  font-family: 'Vazirmatn';
  src: url('./Vazirmatn-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Vazirmatn SemiBold (600) */
@font-face {
  font-family: 'Vazirmatn';
  src: url('./Vazirmatn-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Vazirmatn Bold (700) */
@font-face {
  font-family: 'Vazirmatn';
  src: url('./Vazirmatn-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Vazirmatn ExtraBold (800) */
@font-face {
  font-family: 'Vazirmatn';
  src: url('./Vazirmatn-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

/* Vazirmatn Black (900) */
@font-face {
  font-family: 'Vazirmatn';
  src: url('./Vazirmatn-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Vazirmatn Variable';
  src: url('./Vazirmatn[wght].woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}